/*****************************/
/* FONTS                     */
/*****************************/
@font-face {
  font-family: 'LibreBaskerville-Bold';
  src: url('../fonts/LibreBaskerville-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/LibreBaskerville-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/LibreBaskerville-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/LibreBaskerville-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/LibreBaskerville-Bold.svg#4bf32f863730e66a8dbae8dbd91656ec') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'LibreBaskerville-Italic';
  src: url('../fonts/LibreBaskerville-Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/LibreBaskerville-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/LibreBaskerville-Italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/LibreBaskerville-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/LibreBaskerville-Italic.svg#86a751033e5e24fb6db05549d86ed96e') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'LibreBaskerville-Regular';
  src: url('../fonts/LibreBaskerville-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/LibreBaskerville-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/LibreBaskerville-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/LibreBaskerville-Regular.svg#4355149723c66552092252d98830bbee') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

/*****************************/
/* GLOBAL                    */
/*****************************/
body.noscroll{overflow:hidden;}
.container{position:relative; /*top:140px;*/}

/*****************************/
/* HEADER                    */
/*****************************/
header{position:fixed; display:flex; width:100%; height:140px; z-index:420;}
header .right{display:flex; width:53.5714286%; height:100%; align-items:center; justify-content:flex-end;}
header .right .back-home{font:14px/21px "PT Sans"; color:#090909; text-decoration:none; margin:0 6.6666667% 0 0;}
header .right .back-home:before{content:""; display:inline-block; margin:0 15px 0 0; width:10px; height:7px; background:url('../images/arr-prev.png') no-repeat center / cover;}
header .left {width:46.4285714%; display:flex; height:100%; align-items:center; justify-content:space-between;}
header #logo{position:relative; display:block; margin:auto 0 auto 50px; text-decoration:none; z-index:10;}
header #logo img{display:block; margin:0 0 10px 0; max-width:100%; height:auto;}
header #logo span{font:13px/15px "PT Sans"; color:#4a4949; letter-spacing:.1em;}

header.small{height:70px; background:#fff;}
header.small #logo img{margin:0 0 0 0;}
header.small #logo span{display:none;}
header.small .left .burger{display:none;}

/* Burger */
.burger {position:relative; z-index:10; margin:auto 50px auto 0;}
.sub-head.btn-open{background:rgba(255,255,255,.8);}
.sub-head.btn-open + nav{display:flex;}
.sub-head.btn-open + nav:after{background:rgba(0,0,0,.5);}
.burger a {width:38px; height:38px; background:#090909; position:relative; display: block;}
.burger a:hover{width:36px; height:36px;}
.btn-burger span {position: absolute; top: 50%; left:50%; display: block; width:47.368421%; /* 18px ÷ 38 */ height: 2px; margin:-1px 0 0 calc(-47.368421% / 2); background-color: #fff; font-size: 0px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-transition: background-color 0.3s; transition: background-color 0.3s;}
.btn-open .btn-burger span { background-color: transparent; }
.btn-burger span:before, .btn-burger span:after { position: absolute; left: 0; width:100%; height: 100%; background: #fff; content: ''; -webkit-transition: all 0.3s; transition: all 0.3s; }
.btn-burger span:before { -webkit-transform: translateY(-350%); transform: translateY(-350%); }
.btn-burger span:after { -webkit-transform: translateY(350%); transform: translateY(350%);}
.btn-open .btn-burger span:before { -webkit-transform: translateY(0) rotate(45deg); transform: translateY(0) rotate(45deg); background:#fff; }
.btn-open .btn-burger span:after { -webkit-transform: translateY(0) rotate(-45deg); transform: translateY(0) rotate(-45deg); background:#fff; }

/* Menu */
.sub-head{position:relative; z-index:2;height:100%; width:100%; display:flex; justify-content:space-between;}
nav{display:none; position:fixed; left:0; top:0; bottom:0; background:#fff; width:46.428571%; /* 650 ÷ 1400 */}
nav:after{content:""; position:fixed; background:transparent; bottom:0; top:0; left:46.428571%; right:0;}
nav div.vert-center{display:flex; align-items:center; margin:90px 0 0 7.6923077%; /* 50 ÷ 650 */ width:100%;}
nav div.vert-center div{width:100%;}
nav p{margin:0 0 60px 0;}
nav p a{font:300 40px/45px "LibreBaskerville-Regular"; color:#090909; letter-spacing:4px; text-decoration:none; border-bottom:solid 5px #090909;}
nav ul {margin:0 0 60px 0; -webkit-column-count: 2; -moz-column-count: 2; column-count: 2;}
nav ul li{counter-increment:projets; font:14px "PT Sans"; display:block; margin:0 0 25px 0;}
nav ul li:before{content:counter(projets)" -"; color:rgba(43,43,43,.57); background:url('../images/arr-projets.png') no-repeat left; margin:0 5px 0 0; padding:0 0 0 20px; background-size:10px 7px;}
nav ul li:nth-child(4n){margin-bottom:0;}
nav ul li a{color:rgba(43,43,43,.57); text-decoration:none; letter-spacing:.1em;}

/*****************************/
/* HOME                      */
/*****************************/
.home{}
.home .projet{display:flex; width:100%; height:100%;}
.home .projet-infos{width:46.428571%; /* 650 ÷ 1400 */ display:flex; flex-direction:column; align-items:center; justify-content:space-around; background:#6fa2ff;}
.home .projet-infos img{display:block; margin:30.952381% auto 35px; /* 260 ÷ 840 */}
.home .projet-infos h1{display:block;font: 300 60px/62px "LibreBaskerville-Regular"; color:#000; margin:0 auto 35px; text-align: center; letter-spacing:.05em;}
.home .projet-infos h1 span{display:inline-block; position:relative;margin: 0 0 15px 0;}
.home .projet-infos h1 span:last-child{margin:0;}
.home .projet-infos h1 span:after{position:relative; display:block; content:""; width:100%; height:5px; background:#3653ff; margin:auto; z-index:2;}
.home .projet-infos p.legend{font:17px "LibreBaskerville-Italic"; text-align:center; color:#090909; letter-spacing:.1em;}
.home .projet-infos a.projet-link{position:relative; width:58.461538%; /* 380 ÷ 650 */ text-align:center; text-decoration:none; font:700 14px "PT Sans"; color:#090909; border-bottom:solid 1px #000; padding:15px 0; letter-spacing:.1em;}
.home .projet-infos a.projet-link:after{content:""; display:block; position:absolute; left:50%; bottom:-3px; margin:0 0 0 -45px; width:90px; height:5px; background:#090909; transition:all .3s ease-in-out;}
.home .projet-infos a.projet-link:hover:after{width:120px; margin:0 0 0 -60px;}
.home .nav{width:7.1428571%; /* 100 ÷ 1400 */ background:#fff; display:flex; flex-direction:column; align-items:center; justify-content:center;}
.home .nav .num{margin:auto;}
.home .nav a{padding:20px; transition:padding .3s ease-in-out; height:250px;}
.home .nav a#prev-projet:hover{padding:15px 20px 20px 20px;}
.home .nav a#next-projet:hover{padding:25px 20px 20px 20px;}
.home .nav a span{display:block; width:7px; height:10px;}
.home .nav a#prev-projet span{background:url('../images/arr-up.png') no-repeat center / cover; margin-top:200px;}
.home .nav a#next-projet span{background:url('../images/arr-down.png') no-repeat center / cover; margin-bottom:200px;}
.home .nav hr{height:0px; border-top:solid 1px #c5c6c8; border-bottom:solid 1px #bbbdbf;}
.home .nav .num span{font:14px "Open Sans"; color:#2d3339;}
.home .nav .num span#num-projet{font-weight:900;}
.home .preview{display:flex; width:46.428571%; /* 650 ÷ 1400 */ background:#fff;}
.home .preview .pic{position:relative; display:block; width:100%; /* 600 ÷ 650 */ margin:7.692308% 7.692308% 7.692308% 0; overflow:hidden;}
.home .preview .pic img{display:block; width:auto; max-width:100%; opacity:0}
.home .preview .pic:after{content:""; transition:all .3s ease-in-out; display:block; position:absolute; top:0; left:0; right:0; bottom:0; opacity:0;}
.home .preview .pic:hover:after{opacity: 1; transform:scale(1.05);}
.home .preview .pic .border{position:absolute; border:solid 5px #6fa2ff; height:90%; width:90%; top:5%; left:5%; pointer-events:none;}
/* Themes */
.home .projet#balle-au-bond .preview .pic{background:url('../images/projets/balle-au-bond-big.jpg') left center / cover no-repeat;}
.home .projet#balle-au-bond .preview .pic:after{background:url('../images/projets/balle-au-bond-big-hover.jpg') left center / cover no-repeat;}
.home .projet#balle-au-bond .projet-infos{background:#6fa2ff;}
.home .projet#balle-au-bond .projet-infos h1 span:after{background:#3653ff;}
.home .projet#balle-au-bond .preview .pic .border{border-color:#6fa2ff;}
.home .projet#saupiquet .preview .pic{background:url('../images/projets/saupiquet-big.jpg') left center / cover no-repeat;}
.home .projet#saupiquet .preview .pic:after{background:url('../images/projets/saupiquet-big-hover.jpg') left center / cover no-repeat;}
.home .projet#saupiquet .projet-infos{background:#c1ff8f;}
.home .projet#saupiquet .projet-infos h1 span:after{background:#47e409;}
.home .projet#saupiquet .preview .pic .border{border-color:#c1ff8f;}
.home .projet#animaux-sante .preview .pic{background:url('../images/projets/animaux-sante-big.jpg') center center / cover no-repeat;}
.home .projet#animaux-sante .preview .pic:after{background:url('../images/projets/animaux-sante-big-hover.jpg') left center / cover no-repeat;}
.home .projet#animaux-sante .projet-infos{background:#8bf4d4;}
.home .projet#animaux-sante .projet-infos h1 span:after{background:#02dca6;}
.home .projet#animaux-sante .preview .pic .border{border-color:#8bf4d4;}
.home .projet#le-petit-marseillais .preview .pic{background:url('../images/projets/le-petit-marseillais-big.jpg') left center / cover no-repeat;}
.home .projet#le-petit-marseillais .preview .pic:after{background:url('../images/projets/le-petit-marseillais-big-hover.jpg') left center / cover no-repeat;}
.home .projet#le-petit-marseillais .projet-infos{background:#fde7d6;}
.home .projet#le-petit-marseillais .projet-infos h1 span:after{background:#fe0036;}
.home .projet#le-petit-marseillais .preview .pic .border{border-color:#fde7d6;}
.home .projet#igloo .preview .pic{background:url('../images/projets/igloo-big.jpg') center center / cover no-repeat;}
.home .projet#igloo .preview .pic:after{background:url('../images/projets/igloo-big-hover.jpg') left center / cover no-repeat;}
.home .projet#igloo .projet-infos{background:#12e6e1;}
.home .projet#igloo .projet-infos h1 span:after{background:#007976;}
.home .projet#igloo .preview .pic .border{border-color:#12e6e1;}
.home .projet#wilkinson-summer .preview .pic{background:url('../images/projets/wilkinson-summer-big.jpg') center center / cover no-repeat;}
.home .projet#wilkinson-summer .preview .pic:after{background:url('../images/projets/wilkinson-summer-big-hover.jpg') left center / cover no-repeat;}
.home .projet#wilkinson-summer .projet-infos{background:#e0fe69;}
.home .projet#wilkinson-summer .projet-infos h1 span:after{background:#0b9088;}
.home .projet#wilkinson-summer .preview .pic .border{border-color:#e0fe69;}
.home .projet#auzou .preview .pic{background:url('../images/projets/auzou-big.jpg') center center / cover no-repeat;}
.home .projet#auzou .preview .pic:after{background:url('../images/projets/auzou-big-hover.jpg') left center / cover no-repeat;}
.home .projet#auzou .projet-infos{background:#e9c6ff;}
.home .projet#auzou .projet-infos h1 span:after{background:#9336ee;}
.home .projet#auzou .preview .pic .border{border-color:#e9c6ff;}
.home .projet#classic-expert .preview .pic{background:url('../images/projets/classic-expert-big.jpg') center center / cover no-repeat;}
.home .projet#classic-expert .preview .pic:after{background:url('../images/projets/classic-expert-big-hover.jpg') left center / cover no-repeat;}
.home .projet#classic-expert .projet-infos{background:#fee7b9;}
.home .projet#classic-expert .projet-infos h1 span:after{background:#c7874d;}
.home .projet#classic-expert .preview .pic .border{border-color:#fee7b9;}



/*****************************/
/* ABOUT                     */
/*****************************/

.infos{background:#fff0f0;}
.infos h1{font:300 40px/45px "Open Sans"; margin:0 0 35px 0; display:inline-flex; border-bottom:solid 5px #090909;}
.infos figure{display:flex; align-items:center;}
.infos figure img{width:42.428571%; /* 597 ÷ 1400 */}
.infos figure figcaption{width:57.357143%; /* 803 ÷ 1400  padding:0 170px 0 120px; */ padding:0 12.142857% 0 8.5714286%; font:14px/21px "PT Sans"; color:#090909; letter-spacing:.1em;}
.infos figure figcaption p{margin:0 0 30px 0;}
.infos figure figcaption .link{position:relative; text-align:right; border-bottom: solid 1px #090909; padding:0 0 5px 0;}
.infos figure figcaption .link:after{position:absolute; right:0; bottom:-3px; content:""; display:block; width:70px; height:5px; background:#090909;}
.infos figure figcaption .link a{text-decoration:none; color:#090909; font:700 14px "PT Sans";}

.worked{margin:3.5714286% 3.5714286% 0 3.5714286%; /* 30px ÷ 320 */ padding:0 0 7.1428572% 0; display:flex; justify-content:space-between; align-items:center; border-bottom:solid 1px #000;}
.worked .text{width:285px;}
.worked .text h1{text-decoration:none; border:none; font:300 40px/55px "Open Sans"; margin:0 0 30px 0; letter-spacing:.1em;}
.worked .text h1 span{display:inline-block; position:relative;}
.worked .text h1 span:after{display:block; content:""; width:100%; height:5px; background:#090909; margin:auto;}
.worked .text p{font:14px/21px "PT Sans"; color:#090909; letter-spacing:.1em;}
.worked ul{display:flex; flex-wrap:wrap; width:57.5%; padding:0; margin:0;}
.worked ul li{width:20%; margin:0 20% 0 0;}
.worked ul li:first-child{margin:0 20% 0 60%;}
.worked li:nth-child(4){margin:0 0 0 0;}
.worked li:nth-child(5){margin:0 20% 0 20%;}
.worked li img{display:block; width:100%;}

.contact{display:flex; justify-content:space-between; align-items:center; margin:6.4285714% 0; /* 90 ÷ 1400 */}
.contact div{margin:0 0 0 10%; width:43.928571%; /* 615px */}
.contact img{display:inline-block; vertical-align:top; margin:.81300813% 0 0 0;}
.contact h1{display:inline-block; vertical-align:top; margin:0 0 0 13.821138%;}
.contact h1 span{font:300 40px/45px "Open Sans"; display:inline-block; margin:0 0 10px 0; border-bottom:solid 5px #090909; letter-spacing:.1em;}
.contact h1 a{display:block;}
.contact #go-top{display:flex; flex-direction:column; width:67px; height:67px; margin:0 10% 0 0; background:#090909; justify-content:center; align-items:center; color:#fff; text-decoration:none; font:700 14px "PT Sans";}
.contact #go-top:before{content:""; width:7px; height:10px; margin:0 0 5px 0; display:block; background:url('../images/arr-top.png') no-repeat center / cover;}
.contact #mail{font:24px "Open Sans"; color:#f6d0d0;}

/*****************************/
/* PROJECT                   */
/*****************************/
.projets{width:100%; padding-top:140px;}
.projets + footer{background:#e7eeff;}
.intro-projet{display:flex; justify-content:space-between; background:#e7eeff;}
.intro-projet .title-projet{display:flex; width:40%; align-items:flex-start; margin:5% 0 0 5%; /* 70 ÷ 1400 */}
.intro-projet .title-projet h1{display:inline-block; font:300 40px/55px "Open Sans"; color:#000; text-align: center; letter-spacing:.1em;}
.intro-projet .title-projet h1 span{display:inline-block; position:relative;}
.intro-projet .title-projet h1 span:after{display:block; content:""; width:100%; height:5px; background:#3653ff; margin:auto;}
.intro-projet .title-projet img{display:inline-block; margin:0 9.45151% 0 0; max-width:100%; width:26.603774%; /* 141 ÷ 530 */}
.intro-projet .infos-projet{display:flex; flex-direction:column; width:60%; padding:5% 9.6428571% 5% 0; /* 70 & 135 ÷ 1400 */}
.intro-projet .infos-projet section{display:table; margin:2.8368794% 0; /* 20 ÷ 705 */}
.intro-projet .infos-projet section:first-child{margin:0 0 2.8368794% 0;}
.intro-projet .infos-projet section:last-child{margin:2.8368794% 0 0 0;}
.intro-projet .infos-projet p{display:table-cell; font:400 14px/21px "PT Sans"; color:#090909; letter-spacing:.1em;}
.intro-projet .infos-projet p.bold{font-weight:700; width:150px;}
.gallerie .solo img{display:block; margin:3.5714286% auto; width:92.857143%; /* 1300 ÷ 1400 */ max-width:100%;}
.gallerie .double{display:flex; width:100%; align-items:center; justify-content:center;}
.gallerie .double img{width:auto; max-width:50%; padding:0 1.7857143% 0 3.5714286%; margin:0 0 3.5714286% 0;}
.gallerie .double img + img{padding:0 3.5714286% 0 1.7857143%;}
.gallerie .full{position:relative; display:flex; justify-content:center; align-items:center; width:100%; background:#e7eeff; margin:0 0 3.5714286% 0;}
.gallerie .full.nomarg img{padding:0;}
.gallerie .full img{margin:0; padding:70px 3.5714286%; width:auto; max-width:100%;}
.gallerie .full a{position:absolute; bottom:7.1428572%; right:7.1428572%; color:#090909; text-decoration:none; font:300 30px/55px "Open Sans";}
.gallerie .full a:after{display:block; content:""; width:100%; height:5px; background:#3653ff; margin:auto;}
aside{display:flex; justify-content:center; align-items:center; margin:3.5714286% 0 7.1428572%;}
aside #projet-top{display:flex; flex-direction:column; width:67px; height:67px; margin:0 16.785714%; background:#090909; justify-content:center; align-items:center; color:#fff; text-decoration:none; font:700 14px "PT Sans";}
aside #projet-top:before{content:""; width:7px; height:10px; margin:0 0 5px 0; display:block; background:url('../images/arr-top.png') no-repeat center / cover;}
aside .projet-nav{font:700 14px "PT Sans"; min-width:150px; color:#090909; text-decoration:none; text-align:center;}
aside .projet-nav#projet-prev{text-align:right;}
aside .projet-nav#projet-prev:before{content:""; display:inline-block; margin:0 15px 0 0; width:10px; height:7px; background:url('../images/arr-prev.png') no-repeat center / cover;}
aside .projet-nav#projet-next:before{content:""; display:inline-block; margin:0 15px 0 0; width:10px; height:7px; background:url('../images/arr-next.png') no-repeat center / cover;}
aside .projet-nav .projet-name{display:block; font-weight:400;}
/* Themes */
.projets.auzou + footer{background:#fcf0ff;}
.projets.auzou .intro-projet{background:#fcf0ff;}
.projets.auzou .intro-projet .title-projet h1 span:after{background:#b767cb;}
.projets.auzou .gallerie .full a:after{background:#b767cb;}
.projets.auzou .gallerie .full{background:#fcf0ff;}

/*****************************/
/* FOOTER                    */
/*****************************/
footer{position:relative; display:flex; background:#fff0f0; height:150px; align-items:center; justify-content:space-between;}
footer #logo-footer{display:block; margin:0 0 0 3.5714286%; text-decoration:none;}
footer #logo-footer img{display:block; margin:0 0 10px 0; max-width:100%; height:auto;}
footer #logo-footer span{font:13px/15px "PT Sans"; color:#4a4949; letter-spacing:.1em;}
footer .links{display:flex; width:440px; justify-content:space-between; margin:0 20.714286% 0 0; /* 290 ÷ 1400 */}
footer .join h1{display:block; margin:0; font:700 14px "PT Sans"; border:none; color:#090909; letter-spacing:.1em;}
footer .join a{font:400 14px "PT Sans"; color:#090909; letter-spacing:.1em;}
footer .social{margin:0 0 0 10.357143%;}
footer .social a{font:700 14px "PT Sans"; text-decoration:none; color:#090909;}
footer .social a:before{display:inline-block; vertical-align:middle; content:""; background:url('../images/arr-next.png') no-repeat center; margin-right:10px; width:10px; height:7px; background-size:cover;}


/* Retina */
@media screen and (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) { 
  /* Home */
  .home .projet#saupiquet .preview .pic:after{background:url('../images/projets/saupiquet-big-hover-x2.jpg') left center / cover no-repeat;}
  .home .projet#animaux-sante .preview .pic:after{background:url('../images/projets/animaux-sante-big-hover-x2.jpg') left center / cover no-repeat;}
  .home .projet#le-petit-marseillais .preview .pic:after{background:url('../images/projets/le-petit-marseillais-big-hover-x2.jpg') left center / cover no-repeat;}
  .home .projet#igloo .preview .pic:after{background:url('../images/projets/igloo-big-hover-x2.jpg') left center / cover no-repeat;}
  .home .projet#auzou .preview .pic:after{background:url('../images/projets/auzou-big-hover-x2.jpg') left center / cover no-repeat;}
  .home .projet#classic-expert .preview .pic:after{background:url('../images/projets/classic-expert-big-hover-x2.jpg') left center / cover no-repeat;}
}


/* PalLier */
@media screen and (max-width:1100px){
	/* About */
	.infos{background:#fff0f0 url('../images/barbara.png') no-repeat left center;}
	.infos figure img{opacity:0;}
	.infos figure figcaption{padding-right:80px;}

	.worked{margin:7.1428572% 3.5714286% 3.5714286% 3.5714286%;}
	.worked .text{width:240px;}
	.worked .text h1{font:300 27px/40px "Open Sans";}
	.worked .text h1 span:after{height:4px;}
	.worked .text p{font:400 12px/18px "PT Sans";}
	.worked ul{width:363px;}
	.worked ul li{width:33.333333%; margin:0;}
	.worked ul li:first-child{margin:0 33.333333% 0 0;}
	.worked ul li:nth-child(3){margin:0 33.333333%;}
	.worked li:nth-child(4){margin:0 33.333333% 0 0;}
	.worked li:nth-child(5){margin:0;}
	.worked li:nth-child(6){margin:0 0 0 33.333333%;}


}

/* Tablette Portrait */
@media screen and (max-width:768px){
	/* Header */
	header{flex-direction:column;}
	header .left{width:100%;}
	header .right{display:none;}

	/* Menu */
	nav{width:100%;}
	nav:after{display:none;}

	/* Home */
	.home .projet{flex-wrap:wrap;}
	.home .projet-infos{width:100%; height:490px; justify-content:space-between;}
  .home .projet-infos img{width:60%; margin:20% auto 15px;}
	.home .projet-infos h1{font:300 47px/52px "LibreBaskerville-Regular"; margin:0 auto 30px;}
	.home .projet-infos h1 span{margin:0 0 10px 0;}
  .home .projet-infos h1 span:after{height:4px; top:-2px;}
	.home .projet-infos a.projet-link{margin:0 0 40px 0;}
	.home .nav{margin:0 auto; height:84px; width:auto; flex-direction:row;}
  .home .nav a{height:auto;}
	.home .nav a#prev-projet span{margin-top:0; margin-right:20px;}
	.home .nav a#next-projet span{margin-bottom:0; margin-left:20px;}
	.home .preview{width:100%; height:450px;}
	.home .preview .pic{width:600px; height:370px; margin:0 auto; overflow:hidden;}

	/* Projet */
	.intro-projet .title-projet h1{font:300 27px/40px "Open Sans";}
	.intro-projet .title-projet h1 span:after{height:4px;}
	.intro-projet .title-projet img{margin:15px 9.45151% 0 0;}
	.intro-projet .infos-projet p{font:400 12px/17px "PT Sans";}
	aside #projet-top{width:55px; height:55px;}

	/* Footer */
	footer{height:123px;}
	footer #logo-footer img{width:127px; height:16px; margin:0 0 5px 0;}
	footer #logo-footer span{font:12px/14px "PT Sans";}
	footer .join h1{font:700 12px/16px "PT Sans";}
	footer .join a{font:400 12px/16px "PT Sans";}
	footer .social a{font:700 12px/16px "PT Sans";}
	footer .links{margin:0 11.71875% 0 0; width:50.270833%; /* 340 ÷ 768 */}

}

/* Mobiles */
@media screen and (max-width:414px){
	/* Header */
	header{height:90px;}
	header #logo{margin:auto 0 auto 30px;}
	header #logo img{width:100px; margin:0 0 1px 0;}
	header #logo span{font:10px/10px "PT Sans";}

	/* Burger */
	.burger{margin:auto 30px auto 0;}
	.burger a{width:30px; height:30px;}
	.btn-burger span:before { -webkit-transform: translateY(-250%); transform: translateY(-250%); }
	.btn-burger span:after { -webkit-transform: translateY(250%); transform: translateY(250%);}

	/* Menu */
	nav{width:100%; padding:50px 30px 50px 30px; overflow:auto;}
	nav ul{margin-bottom:30px; -webkit-column-count: 1; -moz-column-count: 1; column-count: 1;}
	nav ul li{margin-bottom:22px;}
	nav ul li:nth-child(4n){margin-bottom:22px;}
	nav ul li:last-child{margin-bottom:0;}
	nav ul li:before{color:#2b2b2b;}
	nav ul li a{color:#2b2b2b;}
	nav p{margin-bottom:30px;}
	nav p a{font:300 25px/30px "Open Sans";}

	/* Home */
	.home .projet-infos{height:87.5%; /* 420 ÷ 480 */ justify-content:space-around;}
	.home .projet-infos .resume{margin:23.809524% 0 0 0; /* 100 ÷ 420 */}
	.home .projet-infos img{margin:0 auto 10px; /* 90 ÷ 420 */ }
	.home .projet-infos h1{font:300 35px/43px "LibreBaskerville-Regular"; margin-bottom:20px}
  .home .projet-infos h1 span{margin-bottom:10px;}
  .home .projet-infos h1 span:after{top:-2px;}
	.home .projet-infos p.legend{font:12px "PT Sans";}
	.home .projet-infos a.projet-link{font:700 10px "PT Sans"; padding:0 0 10px 0; margin:0 0 30px 0;}
	.home .preview{display:none;}
	.home .nav{height:12.5%; /* 60 ÷ 480 */}
  .home .nav a#prev-projet span{margin-top:0;}
  .home .nav a#next-projet span{margin-bottom:0;}

	/* About */
	.about{padding-top:90px;}
	.worked{margin:40px 30px 0 30px; flex-direction:column;}
	.worked .text{width:100%;}
	.worked p{display:none;}
	.worked ul{width:260px; justify-content:space-between; margin:0;}
	.worked ul li{width:43.076923%; margin:0 0 35px 0;}
	.worked ul li:first-child{margin:0 0 0 0;}
	.worked ul li:nth-child(3){margin:0 0;}
	.worked li:nth-child(4){margin:0 0 35px 0;}
	.worked li:nth-child(5){margin:0 0 0 0;}
	.worked li:nth-child(6){margin:0 0 0 0;}
	.contact{flex-direction:column; margin:0;}
	.contact div{width:100%; text-align:center; margin:30px 0;}
	.contact img{margin:0 0 0 -17%; width:40%;}
	.contact h1{display:block; margin:0;}
	.contact h1 span{font:300 25px "Open Sans"; border-bottom:solid 3px #090909;}
	.contact a#mail{font:15px "Open Sans";}
	.contact a#go-top{width:55px; height:55px; margin:0 auto 40px;}

	/* Projet */
	.projets{padding-top:90px;}
	.intro-projet{flex-direction:column;}
	.intro-projet .title-projet{width:100%; padding:12.5% 9.375% 0; margin:0; align-items:center;}
	.intro-projet .title-projet h1{font:300 25px/35px "Open Sans";}
	.intro-projet .infos-projet{width:100%; padding:12.5% 9.375%;}
	.intro-projet .infos-projet section{display:flex; flex-direction:column;}
	.intro-projet .infos-projet section p.bold{margin:0 0 5px 0;}
	aside{flex-direction:column; margin: 40px 0;}
	aside .projet-nav{margin:0 0 25px 0;}
	aside .projet-nav#projet-prev{text-align:left;}
	aside .projet-nav#projet-prev:before, aside .projet-nav#projet-next:before{margin:0 10px 0 0;}
	aside #projet-top{order:1;}

	/* infos */
	.infos{background:#fff0f0;}
	.infos figure img{display:none;}
	.infos figure figcaption{width:100%; padding:12.5% 9.375%; /* 80px 30px */}

	/* Footer */
	footer{flex-direction:column; height:auto;}
	footer #logo-footer{margin:12.5% 0 9.375% 0;}
	footer #logo-footer img{margin:0 auto 5px auto;}
	footer .links{margin:0; width:100%; text-align:center; flex-direction:column;}
	footer .social{margin:9.375% 0 12.5% 0;}
	footer .social li:first-child{margin:0 0 5px 0;}
}

/* iPhone 5 */
@media screen and (max-width:320px) and (max-height:568px){
  /* Menu */
  nav{padding: 110px 30px 50px 30px;}
}

/* iPhone 4 */
@media screen and (max-width:320px) and (max-height:480px){
    /* Menu */
    nav{width:100%; padding:160px 30px 50px 30px; overflow:auto;}
}