.container{position:relative; /*top:140px;*/}

/*****************************/
/* HEADER                    */
/*****************************/
header{position:fixed; display:flex; width:100%; height:140px; z-index:420;}
header .right{display:flex; width:53.5714286%; height:100%; align-items:center; justify-content:space-between;}
header .left {width:46.4285714%; display:flex; height:100%; align-items:center; justify-content:space-between;}
header #logo{position:relative; display:block; margin:0 0 0 50px; text-decoration:none; z-index:10;}
header #logo img{display:block; margin:0 0 10px 0; max-width:100%; height:auto;}
header #logo span{font:13px/15px "PT Sans"; color:#4a4949; letter-spacing:.1em;}

/* Burger */
.burger {position:relative; z-index:10; margin:0 50px 0 0;}
.burger.btn-open + nav{display:block;}
.burger a {width:38px; height:38px; background:#090909; position:relative; display: block;}
.btn-burger span {position: absolute; top: 50%; left:50%; display: block; width:18px; height: 2px; margin-top: -2px; margin-left:-9px; background-color: #fff; font-size: 0px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-transition: background-color 0.3s; transition: background-color 0.3s;}
.btn-open .btn-burger span { background-color: transparent; }
.btn-burger span:before, .btn-burger span:after { position: absolute; left: 0; width: 18px; height: 100%; background: #fff; content: ''; -webkit-transition: all 0.3s; transition: all 0.3s; }
.btn-burger span:before { -webkit-transform: translateY(-350%); transform: translateY(-350%); }
.btn-burger span:after { -webkit-transform: translateY(350%); transform: translateY(350%);}
.btn-open .btn-burger span:before { -webkit-transform: translateY(0) rotate(45deg); transform: translateY(0) rotate(45deg); background:#fff; }
.btn-open .btn-burger span:after { -webkit-transform: translateY(0) rotate(-45deg); transform: translateY(0) rotate(-45deg); background:#fff; }

/* Menu */
nav{display:none; position:fixed; left:0; top:0; bottom:0; padding:140px 0 0 50px; background:#fff; width:46.428571%; /* 650 ÷ 1400 */}
nav p{margin:0 0 60px 0;}
nav p a{font:300 40px/45px "Open Sans"; color:#090909; letter-spacing:4px; text-decoration:none; border-bottom:solid 5px #090909;}
nav ul {margin:0 0 60px 0; -webkit-column-count: 2; -moz-column-count: 2; column-count: 2;}
nav ul li{counter-increment:projets; font:14px "PT Sans"; display:block; margin:0 0 30px 0;}
nav ul li:before{content:counter(projets)" -"; color:rgba(43,43,43,.57); background:url('../images/arr-projets.png') no-repeat left; margin:0 5px 0 0; padding:0 0 0 20px; background-size:10px 7px;}
nav ul li:nth-child(4n){margin-bottom:0;}
nav ul li a{color:rgba(43,43,43,.57); text-decoration:none; letter-spacing:.1em;}

/*****************************/
/* HOME                      */
/*****************************/
.home{}
.home .projet{display:flex; width:100%; height:100%;}
.home .projet-infos{width:46.428571%; /* 650 ÷ 1400 */ display:flex; flex-direction:column; align-items:center; justify-content:space-around; background:#e9efff;}
.home .projet-infos img{display:block; margin:30.952381% auto 35px; /* 260 ÷ 840 */}
.home .projet-infos h1{display:block; font:300 60px/72px "Open Sans"; color:#000; margin:0 auto 35px; text-align: center;}
.home .projet-infos h1 span{display:inline-block; position:relative;}
.home .projet-infos h1 span:after{display:block; content:""; width:100%; height:5px; background:blue; margin:auto;}
.home .projet-infos p.legend{font:14px "PT Sans"; text-align:center; color:#4a4949;}
.home .projet-infos a.projet-link{position:relative; width:58.461538%; /* 380 ÷ 650 */ text-align:center; text-decoration:none; font:700 14px "PT Sans"; color:#4a4949; border-bottom:solid 1px #000; padding:0 0 15px 0;}
.home .projet-infos a.projet-link:after{content:""; display:block; position:absolute; left:50%; bottom:-3px; margin:0 0 0 -45px; width:90px; height:5px; background:#3653ff;}
.home .nav{width:7.1428571%; /* 100 ÷ 1400 */ background:#fff; display:flex; flex-direction:column; align-items:center; justify-content:center;}
.home .nav .num{margin:auto;}
.home .nav a{display:block; width:7px; height:10px;}
.home .nav a#prev-projet{background:url('../images/arr-up.png') no-repeat center / cover; margin-top:200px;}
.home .nav a#next-projet{background:url('../images/arr-down.png') no-repeat center / cover; margin-bottom:200px;}
.home .nav hr{height:0px; border-top:solid 1px #c5c6c8; border-bottom:solid 1px #bbbdbf;}
.home .nav .num span{font:14px "Open Sans"; color:#2d3339;}
.home .nav .num span#num-projet{font-weight:900;}
.home .preview{display:flex; width:46.428571%; /* 650 ÷ 1400 */ background:#fff;}
.home .preview figure{position:relative; display:block; width:92.307692%; /* 600 ÷ 650 */ margin:auto 0;}
.home .preview figure img{display:block; width:auto; max-width:100%;}
.home .preview figure figcaption{position:absolute; border:solid 5px blue; height:92%; width:90%; top:4%; left:5%; pointer-events:none;}

/*****************************/
/* ABOUT                     */
/*****************************/
.about h1{font:300 40px/45px "Open Sans"; margin:0 0 35px 0; display:inline-flex; border-bottom:solid 5px #090909;}

.infos{background:#fff0f0;}
.infos figure{display:flex; align-items:center;}
.infos figure img{width:42.428571%; /* 597 ÷ 1400 */}
.infos figure figcaption{width:57.357143%; /* 803 ÷ 1400  padding:0 170px 0 120px; */ padding:0 12.142857% 0 8.5714286%; font:14px/21px "PT Sans"; color:#090909; letter-spacing:.1em;}
.infos figure figcaption p{margin:0 0 30px 0;}
.infos figure figcaption .link{position:relative; text-align:right; border-bottom: solid 1px #090909; padding:0 0 5px 0;}
.infos figure figcaption .link:after{position:absolute; right:0; bottom:-3px; content:""; display:block; width:70px; height:5px; background:#090909;}
.infos figure figcaption .link a{text-decoration:none; color:#090909; font:700 14px "PT Sans";}

.worked{padding:9.375%; /* 30px ÷ 320 */}
.worked h1{text-decoration:underline; border:none;}
.worked ul{width:100%; padding:0 0 15.384616% 0; margin:0 0 15.384616% 0; border-bottom:solid 1px #000;}
.worked li{width:46.153846%; /* 120px ÷ 260 */ display:inline-block; vertical-align:top; background:#f4f4f5; margin:0 7.6923077% 7.6923077% 0; /* 20 ÷ 260 */}
.worked li:nth-child(even){margin-right:0;}
.worked li img{display:block; width:100%;}

footer.a{position:relative; display:flex; background:#fff0f0; height:150px; align-items:center; justify-content:space-between;}
footer.a #logo-footer{display:block; margin:0 0 0 3.5714286%; text-decoration:none;}
footer.a #logo-footer img{display:block; margin:0 0 10px 0; max-width:100%; height:auto;}
footer.a #logo-footer span{font:13px/15px "PT Sans"; color:#4a4949; letter-spacing:.1em;}
footer.a .links{display:flex; margin:0 20.714286% 0 0; /* 290 ÷ 1400 */}
footer.a .join h1{display:block; margin:0; font:700 14px "PT Sans"; border:none; color:#090909; letter-spacing:.1em;}
footer.a .join a{font:400 14px "PT Sans"; color:#090909; letter-spacing:.1em;}
footer.a .social{margin:0 0 0 145px;}
footer.a .social a{font:700 14px "PT Sans"; text-decoration:none; color:#090909;}
footer.a .social a:before{display:inline-block; vertical-align:middle; content:""; background:url('../images/arr-projets.png') no-repeat center; margin-right:10px; width:10px; height:7px; background-size:cover;}

@media screen and (max-width:1100px){
	/* infos */
	.infos{background:#fff0f0 url('../images/barbara.png') no-repeat left center;}
	.infos figure img{opacity:0;}
	.infos figure figcaption{padding-right:80px;}
}

/* Tablette Portrait */
@media screen and (max-width:768px){
	/* Header */
	header{flex-direction:column;}
	header .left{width:100%;}
	header .right{display:none;}
	.burger{margin:0 50px 0 0;}
}

@media screen and (max-width:414px){
	/* Header */
	header #logo{margin:0 0 0 30px;}

	/* Burger */
	.burger{margin:0 30px 0 0;}

	/* Menu */
	nav{width:100%;}
	nav ul{margin-bottom:30px; -webkit-column-count: 1; -moz-column-count: 1; column-count: 1;}
	nav ul li{margin-bottom:22px;}
	nav ul li:nth-child(4n){margin-bottom:22px;}
	nav ul li:last-child{margin-bottom:0;}
	nav ul li:before{color:#2b2b2b;}
	nav ul li a{color:#2b2b2b;}
	nav p{margin-bottom:30px;}
	nav p a{font:300 25px/30px "Open Sans";}

	/* infos */
	.infos{background:#fff0f0;}
	.infos figure img{display:none;}
	.infos figure figcaption{width:100%; padding:12.5% 9.375%; /* 80px 30px */}
}