/*********
/* Hello *
/********/
body{background:url('http://previews.123rf.com/images/greenphile/greenphile1105/greenphile110500143/9657607-Texture-of-white-tissue-paper-Stock-Photo-napkin.jpg') repeat center;}
p:first-child{margin-top:50px;}
p{margin:20px auto;}
*{text-align:center; font-size:30px;}